<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    :root {
      --background_light: <%= theme.background_light %>;
      --background: <%= theme.background %>;
      --background_dark: <%= theme.background_dark %>;
      --primary: <%= theme.primary %>;
      --primary_dark: <%= theme.primary_dark %>;
      --primary_light: <%= theme.primary_light %>;
      --color: <%= theme.color %>;
      --color_dark: <%= theme.color_dark %>;
      --color_light: <%= theme.color_light %>;
    }
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="<%= config.domain + '/public/index.css' %>"></link>
  <link rel="stylesheet" href="<%= config.domain + '/public/header.css' %>"></link>
  <link rel="stylesheet" href="<%= config.domain + '/public/main.css' %>"></link>
  <link rel="stylesheet" href="<%= config.domain + '/public/aside.css' %>"></link>
  <script src="<%= config.domain + '/public/index.js' %>" defer></script>
  <title>ToExoume</title>
</head>
<body>
  <%- include("Layout/Header"); %>
  <nav class="nav">
    <img src="<%= config.domain + '/public/images/phone1.png' %>" alt="" class="nav-image-left">
    <section>
      <p>Αγόρασε προϊόντα από διαφορετικά καταστήματα</p>
      <strong>με ένα μόνο καλάθι στο ToExoume!</strong>
    </section>
    <img src="<%= config.domain + '/public/images/phone.png' %>" alt="" class="nav-image-right">
  </nav>
  <div class="page">
    <aside class="page-aside">
      <%- include("Components/Filters"); %>
    </aside>
    <main>
    
    </main>
  </div>
</body>
</html>