<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    :root {
      --background_light: <%= theme.background_light %>;
      --background: <%= theme.background %>;
      --background_dark: <%= theme.background_dark %>;
      --primary: <%= theme.primary %>;
      --primary_dark: <%= theme.primary_dark %>;
      --primary_light: <%= theme.primary_light %>;
      --color: <%= theme.color %>;
      --color_dark: <%= theme.color_dark %>;
      --color_light: <%= theme.color_light %>;
    }
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="<%= config.domain + '/public/index.css' %>"></link>
  <link rel="stylesheet" href="<%= config.domain + '/public/header.css' %>"></link>
  <link rel="stylesheet" href="<%= config.domain + '/public/section.css' %>"></link>
  <link rel="stylesheet" href="<%= config.domain + '/public/main.css' %>"></link>
  <link rel="stylesheet" href="<%= config.domain + '/public/aside.css' %>"></link>
  <script src="<%= config.domain + '/public/index.js' %>" defer></script>
  <title>ToExoume <%= products.length %> </title>
</head>
<body>
  <%- include("Layout/Header"); %>
  <%- include("Layout/MainSection"); %> 
  <div class="page">
    <aside class="page-aside">
      <%- include("Components/Filters"); %>
    </aside>
    <main class="main">
      <h2><%= category.label %> <span class="products-length">(<%= products_total %> προϊόντα)</span> </h2>
      <div class="product_container">
        <% for( let index = 0; index < products.length; index++ ) { %>
          <%- include("ProductCard/main", { product: products[index] }) %> 
          <% } %>
      </div>
    </main>
  </div>
</body>
</html>